$main-color: #e6b31e;

.admin-category {
  .form-control {
    background: #252525!important;
  }
}
.navbar-nav-right {
  .nav-view-page a {
    color: #8c909a!important;

    &:hover {
      color: $main-color!important;
      text-decoration: none;
    }
  }
}

.table-dark {
  background: #252525;

  th, td, thead th {
    border-color: #32383e!important;
  }

  thead {
    background: black;
  }
}

.jsgrid .jsgrid-table td img, .table td img {
  height: 60px;
  width: auto;
  border-radius: 0;
}


.table-dark th, .table-dark td, .table-dark thead th {
  border-color: #333333!important;
}

.dataTables_wrapper {
  .dataTables_length .form-control {
    background: #252525!important;
  }  
}

.dataTables_filter {
  input.form-control {
    background: #252525;
    border: 1px solid #333333;

    &:focus {
      border-color: $main-color!important;
    }
  }
}
.jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .pagination .page-item.active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .pagination .page-item:active .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .pagination .page-item:focus .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .pagination .page-item:hover .page-link {
  background: $main-color;
  border-color: $main-color;
  color: black;
}

table.dataTable {
  margin: 15px 0!important
}

.dataTables_info {
  margin-bottom: 10px;
}

.jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-page a, .page-link {
  background: #252525;
  border-color: black;
}
.ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .fc button, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .dataTables_wrapper .dataTable .wizard>.actions a, .fc .dataTables_wrapper .dataTable button, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .wizard>.actions .dataTables_wrapper .dataTable a {
  padding: .8rem 1rem;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  font-size: 14px;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  font-size: 13px;
}

.form-control-danger {
  border-color: $main-color;

  
}

.asColorPicker-input:focus, .dataTables_wrapper select:focus, .form-control:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single:focus, .tt-hint:focus, .tt-query:focus, .typeahead:focus {
  border-color: $main-color;
}

.form-control {
  border-color: #333333;
}

.table-dark.table-hover tbody tr:hover {
  background: #131212;
}

.mess-create , .mess-del {
  color: $main-color;
  font-weight: bold;
  background: black;
  padding-top: 18px;
  padding-bottom: 10px;

  h5 {
    text-align: center;
  }
}

.form-group {
  select {
    height: 45px!important;
  }
}

.delete-alert {
  .modal.show .modal-dialog {
    transform: translate(0, 50%);
    transition: transform .2s ease;
  }
  &.modal {
    cursor: url('../img/cursor.png'), auto;

    .modal-dialog {
      .modal-content {
        cursor: default;
        background: white;
        border: 1px solid #e1e1e1;
        color: #383838;
    
        img {
          height: 100px;
          margin-bottom: 20px;
        }
      
        .modal-footer {
          border-top: 0;
          padding: {
            top: 0;
            left: 30px;
            right: 30px;
            bottom: 20px;
          }
        }
      }
    }
  }
}

.select2-container--default .select2-selection--single {
  background-color: #252525;
  border: 1px solid #252525;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 17px;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.select2-container--default .select2-selection--single:focus {
  background: #252525;
  border: 1px solid $main-color;
}

