extends ../layouts/client/layout_client

block title 
  title Dreamie Gear - Product

block append style
  link(rel='stylesheet', href='/assets/css/about_us.min.css')

block content
  article
    section.breadcrumb
      .container
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/demo/home') Trang chủ
            li.breadcrumb-item.active(aria-current='page') Giới thiệu

    section.aboutus-page
      .container
        .row
          .col-lg-6
            img(src='/assets/img/aboutus.jpg', alt='')
          .col-lg-6
            h1
              | CHÀO MỪNG BẠN ĐẾN VỚI 
              span(style='color: #e6b31e') 2 BILLION DREAMIE FUCKING PROJECT
            h5
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolor consequatur, expedita at consequuntur cumque eum facere nam voluptas a vero perferendis, qui in quaerat? Iusto ut numquam dolorum adipisci?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti illum obcaecati! Illo aperiam iure placeat voluptatem praesentium, excepturi veritatis exercitationem magnam eum laudantium dignissimos? Assumenda in praesentium facere? Exercitationem.
            button
              a(href='/demo/product') mua sắm thôi nào
        .row
          .col-lg-12
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, repellendus? Repellat provident, aspernatur id saepe perferendis reprehenderit at consequatur quaerat eveniet expedita obcaecati, quis debitis? Sint accusantium explicabo quam quidem.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur aliquam quibusdam magni officia modi facere, tempore dicta sint doloribus mollitia unde tenetur. Aperiam iure officiis quisquam quae soluta enim.
