extends ../layouts/client/layout_client

block title 
  title Dreamie Gear - News

block append style
  link(rel='stylesheet', href='/assets/css/news.min.css')

block content
  article
    section.breadcrumb
      .container
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/demo/home') Trang chủ
            li.breadcrumb-item.active(aria-current='page') Tin tức

    section.news-page.news-home
      .container
        .row
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-3.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-2.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-1.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-3.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-1.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-2.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-3.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-1.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-2.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-3.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-2.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
          .col-md-6
            .box-news-home
              .box-news-home-img
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  img(src='/assets/img/news-1.png')
                a(title='Bấm để xem chi tiết', href='demo/news_detail')
                  span
              .box-news-home-detail
                h3
                  a(title='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.', href='demo/news_detail') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, totam.
                .box-news-home-detail-date
                  li
                    i.mdi.mdi-calendar-clock
                    |  12/12/2018
                  li
                    i.mdi.mdi-account-plus
                    |  Kemmie
        .row
          .col-lg-12
            nav
              ul.pagination.justify-content-end
                li.page-item
                  a.page-link(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
                li.page-item
                  a.page-link.active(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#', aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
