template#file-item-media
  div.mb-2
    div.media-upload-item.w-100.d-flex.align-items-center
      img(src="")
      span
      a.ml-auto(href="", hidden) Sửa
    .progress.progress-sm
      .progress-bar.bg-success.progress-bar-striped.progress-bar-animated(
        role='progressbar', 
        aria-valuenow='0', 
        aria-valuemin='0', 
        aria-valuemax='100'
      )
