extends ../layouts/admin/layout_admin

block title 
  title Danh sách Đối tác

block append style
  link(rel='stylesheet', href='/assets/css/partner_admin.min.css')

block content
  .table-responsive
    table.table.table-dark.table-bordered
      thead
        tr
          th(scope='col') STT
          th(scope='col') Tên đối tác
          th(scope='col') Ảnh đối tác
          th(scope='col') Ngày tạo
          th(scope='col') Ngày sửa
          th(scope='col') Hành động
      tbody
        each partner in partners
          tr
            th(scope='row')=partner.id
            td=partner.name
            td=partner.image
            td @mdo
            td Mark
            td
              a.btn.btn-info.mr-2(href="/admin/partner/custom-partner/" + partner._id) Xem
              a.btn.btn-danger Xóa


