extends ../../layouts/admin/layout_admin

block title 
  title Thêm thư viện

block append style
  meta(name="_csrf", content=csrfToken)

  link(rel='stylesheet', href='/assets/css/media_admin.min.css')
  
  script(src="/bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js")
  script(src="/bower_components/blueimp-load-image/js/load-image.all.min.js")
  script(src="/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js")

  script(src="/bower_components/jquery-file-upload/js/jquery.iframe-transport.js")
  script(src="/bower_components/jquery-file-upload/js/jquery.fileupload.js")
  script(src="/bower_components/jquery-file-upload/js/jquery.fileupload-process.js")

  script(src="/bower_components/jquery-file-upload/js/jquery.fileupload-image.js")


block content
  .card
    .card-body
      h4.card-title Tải media

      //- UPLOAD ZONE
      
      div.media-upload-body.d-flex.flex-column.justify-content-center.align-items-center
        h4.align-middle Thả tập tin vào đây
        p hoặc

        label.btn.btn-sm.btn-primary Chọn tập tin
          input(type="file", multiple, hidden)
      //- END UPLOAD ZONE

      //- UPLOAD CONTENT
      div.media-upload-content.mb-2.mt-2
      //- END UPLOAD CONTENT

  include ../../layouts/admin/file_item_media.pug
      

  script.
    //- Config upload media
    const mediaUpload = $('.media-upload-body').fileupload({
      dataType: 'json',
      url: '/admin/media/add-media',
      autoUpload: false,
      type: 'post',
      headers: {
        'X-CSRF-Token': $('meta[name=_csrf]').attr('content')
      },
      paramName: 'media',
      disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator.userAgent),
      previewMaxWidth: 100,
      previewMaxHeight: 100,
      previewCrop: true,
    });

    //- On add media and generate template
    mediaUpload.on('fileuploadadd', function(e, data) {
        let tempMediaItem = $('#file-item-media').html();
        let files = data.files[0];

        tempMediaItem = $(tempMediaItem);
        tempMediaItem.find('span').text(files.name);

        data.fieldUpload = tempMediaItem;
        $('.media-upload-content').append(tempMediaItem);
        
        data.submit();
    });

    //- Generate thumbnail
    mediaUpload.on('fileuploadprocessalways', function(e, data) {
        const { preview } = data.files[0];
        const { fieldUpload } = data;
        fieldUpload.find('img').attr('src', preview.toDataURL());
    });

    //- Handle while process data upload
    mediaUpload.on('fileuploadprogress', function(e, data) {
        let progress = parseInt(data.loaded / data.total * 100, 10);
        data.fieldUpload.find('.progress-bar').css(
          'width', 
          progress + '%'
        );
    });

    //- Handle when upload media is done
    mediaUpload.on('fileuploaddone', function(e, data) {
      const { fieldUpload } = data;
      fieldUpload
        .find('a')
          .prop('hidden', false);

      fieldUpload
        .find('.progress')
          .remove();
    });

    //- Handle when upload media is fail
    mediaUpload.on('fileuploadfail', function(e, data) {
      //- console.log(data);
      //- const { fieldUpload } = data;
      //- fieldUpload
      //-   .find('a')
      //-     .prop('hidden', false);

      //- fieldUpload
      //-   .find('.progress')
      //-     .remove();
    });

  