extends ../../layouts/admin/layout_admin

block title 
  title Thư viện

block append style
  link(rel='stylesheet', href='/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='/assets/css/media_admin.min.css')


block content
  .table-responsive
    table.table.table-dark.table-bordered.table-hover#media-table
      thead
        tr
          th(scope='col') 
          th(scope='col') Tên tập tin
          th(scope='col') Ngày tạo
          th(scope='col') 
      tbody
        tr
          td 
            img(src="http://img.k13cdn.net/f/2015/05/mot-ngay-cua-d-soda-an-bun-cha-chup-ao-dai-toi-quay-tren-bar-15.jpg")
          td
            | DJ Soda
          td 
            | 04/12/2018
          td 
            button.btn.btn-sm.btn-primary
              | Xem
