doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Dreamie
  body

    h1 Đăng ký

    form(action="auth/register" method="POST")
        input(type="text" name="_csrf" value=csrfToken)

        | Họ tên: 
        input(type="text" name="user_name" placeholder="Hãy nhập Họ tên..." value=xxs)

        br
        br

        | Email: 
        input(type="text" name="email" placeholder="Hãy nhập Email...")

        br
        br

        | Mật khẩu: 
        input(type="password" name="password" placeholder="Hãy nhập Mật khẩu...")
        
        br
        br

        button(type="submit") Đăng ký

xxs=xxs
